################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChessBridge/obj
/ChessBridge/bin/Release
/ChessBridge/bin/Debug
